*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-centered{
    justify-content: center;
    align-items: center;
}

.flex-between{
    justify-content: space-between;
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.big-container{
    margin: 0 auto;
    max-width: 1100px;
}

.container{
    margin: 0 auto;
    max-width: 940px;
}

.text{
    background-color:chartreuse;
    height: 500px ;
}

.margine{
    margin: 2rem 2rem;
}

.posizione{ 
    margin-right: 2rem;
}

.blocchi{
    margin-bottom: 40px;
    width: 300px;
    background-color: red;
    height: 400px;
}

body{
    font-family: 'Fredoka One', cursive;
}

header{
    height: 80px;
    background-color: aqua;
}

header nav{
    width: 100%;
    height: 100%;
}

header nav ul{
    background-color:brown;
    width: 23%;
    height: 100%;
    list-style-type: none;
}

header nav ul li{
    display: inline;
}

section#jumbo{
    background-color: #b4d0e7;
    height: 75vh;
}
section#welcome{
    margin-bottom: 2rem
}

main section#jumbo .big-container{
    padding-top: 40px;
}

main section#plans{
    padding-top: 100px;
}

section div.colonne div.col{
    height:700px;
    width: calc(100% / 3);
    background-color: bisque;
}

#plans div .long-colums{
    height: 200px;
    background-color: darkgoldenrod;
    margin-bottom: 2rem;
}

div .col-40{
    width: 40%;
    height: 500px;
    background-color: darkmagenta;
}

div .col-60{
    width: 60%;
    height: 500px;
    background-color:deepskyblue;
}

